<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Return_Book_init() hook (in hooks/Return_Book.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Return_Book-Book_Number-<%%VALUE(id)%%>" class="Return_Book-Book_Number"><%%VALUE(Book_Number)%%></td>
		<td id="Return_Book-Book_Title-<%%VALUE(id)%%>" class="Return_Book-Book_Title"><%%VALUE(Book_Title)%%></td>
		<td id="Return_Book-Issue_Date-<%%VALUE(id)%%>" class="Return_Book-Issue_Date"><%%VALUE(Issue_Date)%%></td>
		<td id="Return_Book-Due_Date-<%%VALUE(id)%%>" class="Return_Book-Due_Date"><%%VALUE(Due_Date)%%></td>
		<td id="Return_Book-Return_Date-<%%VALUE(id)%%>" class="Return_Book-Return_Date"><%%VALUE(Return_Date)%%></td>
		<td id="Return_Book-Member-<%%VALUE(id)%%>" class="Return_Book-Member"><%%VALUE(Member)%%></td>
		<td id="Return_Book-Number-<%%VALUE(id)%%>" class="Return_Book-Number"><%%VALUE(Number)%%></td>
		<td id="Return_Book-Fine-<%%VALUE(id)%%>" class="Return_Book-Fine text-right"><%%VALUE(Fine)%%></td>
		<td id="Return_Book-Status-<%%VALUE(id)%%>" class="Return_Book-Status"><%%VALUE(Status)%%></td>
